/* resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

html {
  font-family: "Rubik", sans-serif;
}
:root {
  --grey-500: #626c7f;
  --grey-50: #f4f6fa;
  --blue-950: #2d3949;
  --blue-900: #313e51;
  --blue-850: #3b4d66;
  --blue-500: #306aff;
  --blue-300: #abc1e1;
  --blue-100: #edf1f9;
  --blue-50: #ebf0ff;
  --green-500: #2fd887;
  --green-100: #e0fdef;
  --purple-600: #a729f5;
  --purple-100: #f6e7ff;
  --orange-400: #ff7e35;
  --orange-50: #fff5ed;
  --red-500: #ee5454;

  /* original light mode styles */

  --text: #000;
  --body: var(--grey-50);
  --main-menu-options-text: var(--blue-900);
}

/* darkmode styles */

.dark-mode {
  --body: var(--blue-900);
  --main-menu-options-text: #fff;
  --text: #fff;
  --quiz-option-bg: var(var(--grey-500));
}

body {
  background-color: var(--body);
  --text: var(--blue-900);
  --quiz-option-bg: #fff;
  height: 100vh;
  font-family: inherit;
}

/* typography  */

h1 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  font-weight: 300;
}

h1 > span {
  font-weight: 600;
  margin-block: 2rem;
}

.main-menu-text > p {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
}

.choose-quiz-option > h2 {
  color: var(--main-menu-options-text);
  font-weight: 500;
}

/* accessibility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* header */

header {
  display: flex;
  padding: 2rem;
}

.quiz-option-title {
  display: none;
  align-items: center;
}

/* dark / light mode toggle */

.light-dark-mode-toggle {
  margin-left: auto;
}

button.toggle-theme-btn {
  border: none;
  width: 50px;
  height: 28px;
  background-color: var(--purple-600);
  position: relative;
  border-radius: 35px;
  cursor: pointer;
}

.toggle-circle {
  top: 15%;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  transition: all 200ms ease;
  left: 10%;
}

.toggle-circle.dark-mode {
  transform: translateX(120%);
}

/* main menu styling */

.main-menu-text {
  color: var(--text);
}

.main-menu-text > p {
  margin-top: 1rem;
  font-style: italic;
}

/* menu tabs */

.pick-quiz-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.choose-quiz-option {
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--quiz-option-bg);
  transition: all 200ms ease;
}

.choose-quiz-option:hover {
  background-color: #f1f1f1;
}

.choose-quiz-option > .icon-background {
  margin-right: 1rem;
}

/* main menu icons */

.icon-background {
  border-radius: 12px;
  padding: 0.25rem;
  margin-right: 1rem;
}

.choose-quiz-option:nth-of-type(1) > .icon-background,
.icon-background.html {
  background-color: var(--orange-50);
}
.choose-quiz-option:nth-of-type(2) > .icon-background,
.icon-background.css {
  background-color: var(--green-100);
}
.choose-quiz-option:nth-of-type(3) > .icon-background,
.icon-background.javascript {
  background-color: var(--blue-50);
}
.choose-quiz-option:nth-of-type(4) > .icon-background,
.icon-background.accessibility {
  background-color: var(--purple-100);
}

/* Quiz UI CSS */
.UI-Screen {
  width: 90%;
  margin-inline: auto;
  flex-direction: column;
  display: none;
}

.current-quiz-title {
  display: none;
}

.UI-Screen.active {
  display: flex;
}

/* quiz answers*/

.quiz-list {
  display: grid;
  gap: 1rem;
}

.current-quiz-progress-bar {
  margin-block: 2.75rem;
  width: 100%;
  height: 8px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progress-bar-filled {
  background-color: var(--purple-600);
  height: 100%;
  transition: all 200ms ease;
  width: 0%;
}

.quiz-list > li {
  display: flex;
  align-items: center;
  background-color: var(--quiz-option-bg);
  position: relative;
  padding: 1rem;
  border-radius: 12px;
}
.quiz-answer {
  cursor: pointer;
}
.quiz-list > li.active {
  outline: 2px solid var(--purple-600);
}

.quiz-letter-container {
  padding: 0.875rem 1.125rem;
  background-color: var(--grey-50);
  color: var(--grey-500);
  cursor: pointer;
  border-radius: 6px;
}

/* styling for current selected question */
.quiz-list > li.active .quiz-letter-container {
  background-color: var(--purple-600);
  color: white;
}

.quiz-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* submit answer btn */

.next-question-btn,
.play-again-btn {
  margin-top: 1rem;
  background-color: var(--purple-600);
  color: #fff;
  width: 100%;
  padding: 1rem;
  font-size: clamp(1.125rem, 2vw, 1.75rem);
  border-radius: 12px;
  transition: 200ms ease;
}

.next-question-btn:hover,
.play-again-btn:hover {
  cursor: pointer;
  background-color: #d394fa;
}

/* question incorrect  and correct*/
.icon-error,
.icon-correct {
  position: absolute;
  right: 10px;
  display: none;
}

/* error message if user has not selected an answer */

.error-message {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  color: var(--red-500);
  text-align: center;
}

.error-message > .icon-error {
  position: relative;
  display: block !important;
}

.quiz-list > li.question-incorrect {
  outline: 2px solid var(--red-500);
}

.quiz-list > li.question-incorrect .quiz-letter-container {
  background-color: var(--red-500);
}
/* question correct */

.quiz-list > li.question-correct {
  outline: 2px solid var(--green-500);
}

.quiz-list > li.question-correct .quiz-letter-container {
  background-color: var(--green-500);
}

/* end game screen Ui */

#end-quiz {
  display: none;
}

#end-quiz.active {
  display: flex;
}

.score-card {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
}

.final-score-text > p {
}

.final-score-text > span {
  display: block;
  font-size: clamp(5.5rem, 10vw, 9rem);
}
